@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply py-2 px-6 rounded;
}
.btn-blue {
    @apply bg-blue-500 text-blue-100;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.position_Sticky {
    position: -webkit-sticky;
}
.text-shadown_edit {
    text-shadow: 0px 2px rgb(84, 84, 84);
}

.customize_scoll {
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
